.btn-counter {
  display: flex;
  justify-content: center;
  gap: 20px;
}

Button {
  padding: 10px 30px;
  border-radius: 10px;
  border: none;
}

.Increment {
  background-color: green;
}

.Decrement {
  background-color: red;
  border: none;
}
